body{
   margin:0;
   
}

#right li {
    float: right;
    list-style: none;
    display: inline-flex;
    justify-content: end;
    margin:1.3%;
}
#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

#list a {
   font-size: 1.4vw;
    color: white;
    /* text-align: center; */
   
    /* padding: 1vw; */
    text-decoration: none;
}
#list a:hover{
    /* background-color: #111111; */
    transform: scale(1.4);
}
#home{
    background: url(../assets/pizza2.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-family: 'Fredericka the Great', cursive;
    color: #fff;
    font-size: 4vw;
    margin-top: -3%;
    margin-left: 10%;
}
/* about */
.statement b{
    margin: 10%;
    font-size: 11vw;
    
    color: #fff;
    font-family: 'Ubuntu';
}

#about h2{
    font-size: 3vw;
}
.col img{
width: 22VW;
}
.statement{
    margin-top: 10%;
    margin-left:10%;
   
}
.statement h2{
    color: #fff;
    font-size: 3vw;
}
.statement .piz{
    font-family: 'Fredericka the Great', cursive;
}
/* MENU */
#menu{
    background-color: blueviolet;
}
#menu h1{
    color: #fff;
    text-align: center;
}
/* delivery-map */
#map { 
    height:100%; 
    width: 100%;
    /* margin-left: 40%; */
    
}
.col-md-4 h3{
    color: white;
    font-size: 2vw;
}


#form-delivery{
    color: white;
    margin-left: 2%;
    font-size: 1.5vw;
    
}


#row{
    width: 100%;
    background-color: #232123;
    margin-top: 2%;
    content: "";
    /* background: url(../assets/pizza6.jpg);
    
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.col{
    position: relative;
}
