body{
   margin:0;
   
}

#right li {
    float: right;
    list-style: none;
    display: inline-flex;
    margin:1.3%;
}
#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

#list a {
    display: block;
    color: white;
    text-align: center;
   ;
    /* padding: 1vw; */
    text-decoration: none;
}
#list a:hover{
    /* background-color: #111111; */
    transform: scale(1.4);
}
#home{
    background: url(../assets/pizza2.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-family: 'Fredericka the Great', cursive;
    color: #fff;
    font-size: 4vw;
    margin-top: -3%;
    margin-left: 10%;
}
.statement b{
    margin: 10%;
    font-size: 11vw;
    
    color: #fff;
    font-family: 'Ubuntu';
}
#about{
    width: 100%;
}
.col img{
width: 22VW;
}
.statement{
    margin-top: 10%;
    margin-left:10%;
}
.statement h2{
    color: #fff;
    font-size: 3vw;
}
.statement .piz{
    font-family: 'Fredericka the Great', cursive;
}
/* MENU */
#menu{
    background-color: #333333;
}
#menu h1{
    color: #fff;
    text-align: center;
}
/* delivery-map */
#map { 
    height:50vw; 
    width: 50vw;
    
}.col h3{
    color: white;
}
#row{
    margin-top: 2%;
    /* background-color: #333333; */
    width: 100%;
}
#form-delivery{
    color: white;
    margin-left: 2%;
    
}
#dial{
    background: url(../assets/pizza6.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}